.h-nav-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  a{text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .h-nav-open {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: none;
    line-height: 1;
    margin: 9px auto 0;
    padding: 0;
    width: 43px;
    &:after {
      background: none repeat scroll 0 0 #FFFFFF;
      bottom: -4px;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
    &:before {
      background: none repeat scroll 0 0 #FFFFFF;
      bottom: -7px;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
  .h-nav {
    display: table;
    width: 100%;
    max-width: $w1300;
    @include cols(12);
    @include allmaxwidth();
    position: relative;
    padding: 0;
  }
  .h-nav-item {
    display: table-cell;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
    padding: 10px 0;
    &:hover {
      .h-nav-item-h {
        color: #333;
      }
      .h-nav-item-child {
        display: block;
        div {
          width: 31%;
          float: left;
          padding: 0 15px;
        }
      }
    }
    .h-nav-item-h {
      font-size: 14px;
      font-weight: bold;
      text-transform: none;
    }
  }
  .h-nav-item-child {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
    box-shadow: 0 4px 6px #808080;
    display: none;
    left: 0;
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 2;
    @include allmaxwidth();
    .nav-child-l {
      border-right: 1px solid gray;
    }
    .nav-child-c {
      border-right: 1px solid gray;
    }
    .nav-child-r {
      border: none;
    }
    .nav-child-item {
    }
  }
}