/* video-gal main page
---------------------------------------------------------------------------------------------*/

.video-link {
  background: url("../images/icons.png") repeat scroll -26px -28px transparent;
  display: block;
  height: 10px;
  left: -17px;
  position: absolute;
  top: 5px;
  width: 15px;
}
