/* moscvichka-block main page
--------------------------------------------------------------------------------------------*/
.moscvichka-block {
  float: left;
  width: 80%;
  .moscvichka-item-single {
    background-color: #87AFB1;
    float: left;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
    width: 50%;
    .moscvichka-item-half {
      width: 50%;
      float: left;
      .lead{
        font-size: 16px;
      }
      .moscvichka-item-image {
        border: 3px solid #808080;
        display: block;
        margin-bottom: 15px;
        height: 125px;
        width: 90%;
        overflow: hidden;
      }
      .moscvichka-item-link {

      }
    }
  }
  @media all and (max-width: 1300px) {
    width: 50%;
    .moscvichka-item-single {
      .moscvichka-item-half {
        width: 100%;
      }
    }
  }
  @media all and (max-width: 958px) {
    width: 66%;
  }
  @media all and (max-width: 600px) {
    width: 100%;
  }
  @media all and (max-width: 480px) {
    width: 100%;
    .moscvichka-item-single {
      width: 100%;
      &:nth-child(2){
        display: none;
      }
      .moscvichka-item-half {
        width: 100%;
      }
    }

  }

}
