$a-color: #25658e;
$a-hover-color: #c60;
$p-color: black;
$p-footer-color: white;
$black-bg: url(../images/black-bg.jpg);
$grey: #666666;
$red: #770404;
$black: #333;
$img-wrap-w: 100%;
$img-wrap-h: 100%;
$img-border: 3px solid;
$size1: 5px;
$size2: 10px;
$p-size: 13px;
$h1-size: 18px;
$image-border: 3px solid grey;

/*---------------------------------respons grids ----------------------*/

$max320: 320px;

$min480: 322px;
$max480: 480px;

$min600: 481px;
$max600: 600px;

$min768: 601px;
$max768: 958px;

$min1024: 959px;
$max1024: 1300px;

$min1300: 1300px;
