.last-news_special-bl {
  width: 40%;
  float: left;

  .last-news {
    width: 50%;
    float: left;
    padding: 0 15px;
    height: 100%;
    max-height: 985px;
    overflow: hidden;
    line-height: 18px;
    .small-news2-item {
      float: none;
      height: auto;
      line-height: 18px;
      margin: 10px 0;
      max-height: 50px;
      overflow: hidden;
      padding: 0;
      text-align: left;
      width: 210px;
      .small-news2-item-link {
        margin: 0;
        width: 100%;
      }
      .small-news2-item-date {
        background: none repeat scroll 0 0 #4A4A4A;
        color: #FFFFFF;
        padding: 0 5px;
        text-align: center;
        float: left;
        font-size: 9px;
        line-height: 14px;
      }
      .small-news2-item-text {
        color: #25658E;
        clear: both;
      }
    }

  }
  .special-bl {
    width: 50%;
    float: left;
    padding: 0 5px;
    position: relative;
    z-index: 1;
  }
}

@media all and (max-width: 1300px) {
  width: 50%;
  .last-news {
    max-height: 635px;
  }

}

@media all and (max-width: 958px) {
  width: 33%;
  .last-news {
    width: 100%;
    //max-height: 420px;
  }
  .special-bl {
    bottom: 0;
    display: block;
    height: 210px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    .special-bl-single {
      float: left;
      margin: 0 5px;
      overflow: hidden;
      width: 31%;
      overflow: hidden
    }
  }
}

@media all and (max-width: 800px) {
  .last-news {
    max-height: 420px;
    .small-news2-item {
      width: 170px;
      .small-news2-item-link {

      }
      .small-news2-item-date {
      }
      .small-news2-item-text {
      }
    }

  }

}

@media all and (max-width: 600px) {
  width: 100%;
  .last-news {
    width: 100%;
  }
  .special-bl {
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    .special-bl-single {
      float: left;
      margin: 0 5px;
      overflow: hidden;
      width: 100%;
      overflow: hidden;
    }
  }
}

@media all and (max-width: 480px) {
  width: 100%;
  margin-top: 15px;
  .last-news {
    width: 100%;
  }
  .special-bl {
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    .special-bl-single {
      float: left;
      margin: 0 5px;
      overflow: hidden;
      width: 100%;
      overflow: hidden;
    }
  }
}

@media all and (max-width: 600px) {
  width: 100%;
  .last-news {
    width: 100%;
    padding: 0;
    .small-news2-item {
      float: left;
      width: 240px;
    }
  }
  .special-bl {
    height: auto;
    width: 100%;
    position: relative;
    padding: 0;
    .special-bl-single {
      width: 100%;
      margin: 0;
    }
  }
}

@media all and (max-width: 480px) {
  width: 100%;
  .last-news {
    width: 100%;
    padding: 0;
    .viewport {
      width: 320px;
    }
    .small-news2-item {
      float: left;
      width: 160px;
    }

  }
  .special-bl {
    height: auto;
    width: 100%;
    position: relative;
    padding: 0;

    .special-bl-single {
      width: 100%;
      margin: 0;
    }
  }
}
