/* footer
---------------------------------------------------------------------------------------------*/
.footer {
  background: $black-bg;
  color: $f-text;
  display: table;
  width: 100%;
  font-size: 0.9em;

  p {
    margin: 0
  }

  a {
    text-decoration: none
  }

  ul, li {
    list-style: none;
    padding: 0
  }

  .f-inner {
    margin: 0 auto;
    @include cols(12);
    max-width: $w1300;
    @include allmaxwidth();
    float: none;
  }

  .f-nav-wrapper {
    @include cols(9);
    float: right;
    .f-menu {
      @include cols(12);
      display: table;
      .f-nav-item {
        display: table-cell;
        text-align: left;
      }
    }
  }

  .f-team {
    @include cols(3);
    float: left;
    margin-top: -2.500em;
    li {
      float: left;
      width: 100%;
      margin-bottom: 1.250em;
    }
    .name {
      font-weight: bold;
      width: 100%;
      float: left;
      margin-top: 0.313em;
    }
  }

  .f-copy {
    @include cols(9);
    float: right;
  }

  .f-counters {
    @include cols(9);
    float: right;
    margin-top: 15px;
    text-align: right;
  }
}
