$one_col: (100% - ($gutter * ($cols - 1))) / $cols;

.line {
  #{enumerate('.col', 1, $cols, '')} {
    float: left;
    margin-left: $gutter;
  }

  @for $i from 1 through $cols {
    .col#{$i} {
      @include cols($i);

      @for $j from 1 through ($i - 1) {
        .sub-col#{$j} {
          @include sub_cols($j, $i);
        }
      }
    }
  }

  > :first-child,
  .line > :first-child {
    margin-left: 0;
  }
}

